.cat-info {
  width: 500px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.name {
  font-size: 30px;
}

.select-visible {
  display: inline-block;
}

.select-invisible {
  display: none;
}
